.hd-container{
    overflow: hidden;clear: both;
    .mod{
        float: left;
        width: 50%;height: 200px;
        margin-bottom: 10px;
    }

}
.list-infor{
    margin-top: 30px;
    height: calc(100% - 480px);
}