<div class="search-condition">
  <table>
    <tr>
      <td class="lbl">报警名称：</td>
      <td>
        <input type="text" class="input-text" />
      </td>
      <td class="lbl">设备端口号：</td>
      <td>
        <input type="text" class="input-text" />
      </td>
      <td class="lbl">设备名称：</td>
      <td>
        <select class="selects">
          <option>手机</option>
          <option>电脑</option>
        </select>
      </td>
      <td colspan="2" rowspan="2">
        <input class="btn btn-confirm" type="button" value="确定" />
      </td>
    </tr>
    <tr>
      <td class="lbl">设备IP：</td>
      <td>
        <input type="text" class="input-text" />
      </td>
      <td class="lbl">时间：</td>
      <td>
        <input type="text" class="input-text" />
      </td>
      <td class="lbl">报警级别：</td>
      <td>
        <select class="selects">
          <option>手机</option>
          <option>电脑</option>
        </select>
      </td>
    </tr>
  </table>
</div>

<div class="bjgl-content">
  <div class="tl">报警管理</div>

  <div class="lists">
    <div class="ls">
      <div class="ions">
        <img src="assets/img/safe/gj.png" alt="" />
      </div>
      <div class="param">
        <div class="rg-infor">
          <span class="time">3个月前</span><br/>
          <input type="button" class="btn btn-ig" value="忽略" />
        </div>
        <div class="mid-infor">
          <p class="name">
            <span class="circle"></span>
            恶意软件登录
          </p>
          <div class="con">
            <span>设备名称：手机</span>
            <span>设备IP：192.168.1.21</span>
            <span>设备端口：190</span>
          </div>
        </div>

      </div>
    </div>

    <div class="ls">
      <div class="ions">
        <img src="assets/img/safe/gj.png" alt="" />
      </div>
      <div class="param">
        <div class="rg-infor">
          <span class="time">3个月前</span><br/>
          <input type="button" class="btn btn-ig" value="忽略" />
        </div>
        <div class="mid-infor">
          <p class="name">
            <span class="circle"></span>
            恶意软件登录
          </p>
          <div class="con">
            <span>设备名称：手机</span>
            <span>设备IP：192.168.1.21</span>
            <span>设备端口：190</span>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>