<div class="search-condition">
  <img src="assets/img/safe/sj.png" class="pos" alt="" />
  <table>
    <tr>
      <td class="lbl">报警名称：</td>
      <td>
        <input type="text" class="input-text" />
      </td>
      <td class="lbl">设备端口号：</td>
      <td>
        <input type="text" class="input-text" />
      </td>
      <td class="lbl">设备名称：</td>
      <td>
        <select class="selects">
          <option>手机</option>
          <option>电脑</option>
        </select>
      </td>
      <td colspan="2" rowspan="2">
        <input class="btn btn-confirm" type="button" value="确定" />
      </td>
    </tr>
    <tr>
      <td class="lbl">设备IP：</td>
      <td>
        <input type="text" class="input-text" />
      </td>
      <td class="lbl">时间：</td>
      <td>
        <input type="text" class="input-text" />
      </td>
      <td class="lbl">报警级别：</td>
      <td>
        <select class="selects">
          <option>低级</option>
          <option>中级</option>
          <option>高级</option>
          <option>告警</option>
        </select>
      </td>
    </tr>
  </table>
</div>

<div class="bjgl-content">
  <div class="tl">报警管理</div>

  <div class="lists relpos" id="bjglScroll">
    <div class="ls">
      <div class="ions">
        <img src="assets/img/safe/gj.png" alt="" />
      </div>
      <div class="param">
        <div class="rg-infor">
          <span class="time">3个月前</span><br/>
          <input type="button" class="btn btn-ig" value="忽略" />
        </div>
        <div class="mid-infor">
          <p class="name">
            <span class="circle"></span>
            Mirai 恶意软件登录
          </p>
          <div class="con">
            <span>设备名称：Apple手机</span>
            <span>设备IP：BC:4C:C4:E3:1A:53</span>
            <span>设备端口：224</span>
          </div>
        </div>

      </div>
    </div>

    <div class="ls">
      <div class="ions">
        <img src="assets/img/safe/gj.png" alt="" />
      </div>
      <div class="param">
        <div class="rg-infor">
          <span class="time">3个月前</span><br/>
          <input type="button" class="btn btn-ig" value="忽略" />
        </div>
        <div class="mid-infor">
          <p class="name">
            <span class="circle"></span>
            Mirai 恶意软件下载
          </p>
          <div class="con">
            <span>设备名称：Apple手机</span>
            <span>设备IP：08:EA:40:B6:B2:57</span>
            <span>设备端口：8080</span>
          </div>
        </div>

      </div>
    </div>
    <div class="ls">
      <div class="ions">
        <img src="assets/img/safe/gj.png" alt="" />
      </div>
      <div class="param">
        <div class="rg-infor">
          <span class="time">3个月前</span><br/>
          <input type="button" class="btn btn-ig" value="忽略" />
        </div>
        <div class="mid-infor">
          <p class="name">
            <span class="circle"></span>
            非法Web登陆
          </p>
          <div class="con">
            <span>设备名称：Apple手机</span>
            <span>设备IP：e8:4e:06:47:77:8c</span>
            <span>设备端口：8090</span>
          </div>
        </div>

      </div>
    </div>
    <div class="ls">
      <div class="ions">
        <img src="assets/img/safe/gj.png" alt="" />
      </div>
      <div class="param">
        <div class="rg-infor">
          <span class="time">3个月前</span><br/>
          <input type="button" class="btn btn-ig" value="忽略" />
        </div>
        <div class="mid-infor">
          <p class="name">
            <span class="circle"></span>
            非法Web应用请求
          </p>
          <div class="con">
            <span>设备名称：小米手机</span>
            <span>设备IP：F4:5C:89:5B:79:30</span>
            <span>设备端口：80</span>
          </div>
        </div>

      </div>
    </div>
    <div class="ls">
      <div class="ions">
        <img src="assets/img/safe/zj.png" alt="" />
      </div>
      <div class="param">
        <div class="rg-infor">
          <span class="time">3个月前</span><br/>
          <input type="button" class="btn btn-ig" value="忽略" />
        </div>
        <div class="mid-infor">
          <p class="name">
            <span class="circle"></span>
            SSH 非法登陆
          </p>
          <div class="con">
            <span>设备名称：Ubuntu电脑</span>
            <span>设备IP：BC:4C:C4:E3:1A:53</span>
            <span>设备端口：22</span>
          </div>
        </div>

      </div>
    </div>
    <div class="ls">
      <div class="ions">
        <img src="assets/img/safe/gj.png" alt="" />
      </div>
      <div class="param">
        <div class="rg-infor">
          <span class="time">3个月前</span><br/>
          <input type="button" class="btn btn-ig" value="忽略" />
        </div>
        <div class="mid-infor">
          <p class="name">
            <span class="circle"></span>
            密码暴力破解
          </p>
          <div class="con">
            <span>设备名称：Intel电脑</span>
            <span>设备IP：7C:7A:91:6A:E9:38</span>
            <span>设备端口：335</span>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>