<div class="search-condition">
  <img src="assets/img/safe/sj.png" class="pos" alt="" />
  <table>
    <tr>
      <td width="80px">mac地址：</td>
      <td>
        <select class="selects">
          <option>手机</option>
          <option>电脑</option>
        </select>
      </td>
      <td width="80px">危害级别</td>
      <td>
        <select class="selects">
          <option>手机</option>
          <option>电脑</option>
        </select>
      </td>
      <td width="80px">设备名称：</td>
      <td class="pr-20">
          <input type="text" class="input-text" />
      </td>
      <td width="80px">时间：</td>
      <td class="pr-20">
          <input type="text" class="input-text" />
      </td>
      <td>
          <input class="btn btn-confirm" type="button" value="确定" />
      </td>
    </tr>
  </table>
</div>

<div class="ldsm-container">
    <div class="tl">漏洞扫描</div>
    
      <div class="lists relpos" id="ldsmScroll">
        <div class="ls">
          <div class="ions">
            <img src="assets/img/safe/gj2.png" alt="" />
          </div>
          <div class="param">
            <div class="rg-infor">
              <span class="time">扫描时间：5分钟前</span>
            </div>
            <div class="mid-infor">
              <div class="con">
                <span class="lbl"><b>编号：</b>1101201312</span>
                <span class="lbl"><b>MAC地址：</b>AB:CD:CA:CA:CA</span>
                <span class="lbl"><b>漏洞状态：</b>关闭</span><br/>

                <span class="lbl"><b>设备名称：</b>Mac电脑</span>
                <span class="lbl"><b>危害等级：</b>中级</span>
                <span class="lbl"><b>密码强度：</b>弱</span><br/>

                <p>
                    <b>危害描述：</b>暂无描述
                </p>
                <div>
                    <b>漏洞描述：</b>暂无描述
                  <ul class="method">
                    <li class="j1"><a href="javascript:void(0)"><em></em>解决办法</a></li>
                    <li class="j2"><a href="javascript:void(0)"><em></em>攻击事件</a></li>
                    <li class="j3"><a href="javascript:void(0)"><em></em>历史漏洞</a></li>
                  </ul>
                </div>

                
              </div>
            </div>
    
          </div>
        </div>

        <div class="ls">
          <div class="ions">
            <img src="assets/img/safe/gj2.png" alt="" />
          </div>
          <div class="param">
            <div class="rg-infor">
              <span class="time">扫描时间：5分钟前</span>
            </div>
            <div class="mid-infor">
              <div class="con">
                <span class="lbl"><b>编号：</b>1101201312</span>
                <span class="lbl"><b>MAC地址：</b>AB:CD:CA:CA:CA</span>
                <span class="lbl"><b>漏洞状态：</b>关闭</span><br/>

                <span class="lbl"><b>设备名称：</b>Mac电脑</span>
                <span class="lbl"><b>危害等级：</b>中级</span>
                <span class="lbl"><b>密码强度：</b>弱</span><br/>

                <p>
                    <b>危害描述：</b>暂无描述
                </p>
                <div>
                    <b>漏洞描述：</b>暂无描述
                  <ul class="method">
                    <li class="j1"><a href="javascript:void(0)"><em></em>解决办法</a></li>
                    <li class="j2"><a href="javascript:void(0)"><em></em>攻击事件</a></li>
                    <li class="j3"><a href="javascript:void(0)"><em></em>历史漏洞</a></li>
                  </ul>
                </div>

                
              </div>
            </div>
    
          </div>
        </div>

        <div class="ls">
          <div class="ions">
            <img src="assets/img/safe/gj2.png" alt="" />
          </div>
          <div class="param">
            <div class="rg-infor">
              <span class="time">扫描时间：5分钟前</span>
            </div>
            <div class="mid-infor">
              <div class="con">
                <span class="lbl"><b>编号：</b>1101201312</span>
                <span class="lbl"><b>MAC地址：</b>AB:CD:CA:CA:CA</span>
                <span class="lbl"><b>漏洞状态：</b>关闭</span><br/>

                <span class="lbl"><b>设备名称：</b>Mac电脑</span>
                <span class="lbl"><b>危害等级：</b>中级</span>
                <span class="lbl"><b>密码强度：</b>弱</span><br/>

                <p>
                    <b>危害描述：</b>暂无描述
                </p>
                <div>
                    <b>漏洞描述：</b>暂无描述
                  <ul class="method">
                    <li class="j1"><a href="javascript:void(0)"><em></em>解决办法</a></li>
                    <li class="j2"><a href="javascript:void(0)"><em></em>攻击事件</a></li>
                    <li class="j3"><a href="javascript:void(0)"><em></em>历史漏洞</a></li>
                  </ul>
                </div>

                
              </div>
            </div>
    
          </div>
        </div>

        <div class="ls">
          <div class="ions">
            <img src="assets/img/safe/gj2.png" alt="" />
          </div>
          <div class="param">
            <div class="rg-infor">
              <span class="time">扫描时间：5分钟前</span>
            </div>
            <div class="mid-infor">
              <div class="con">
                <span class="lbl"><b>编号：</b>1101201312</span>
                <span class="lbl"><b>MAC地址：</b>AB:CD:CA:CA:CA</span>
                <span class="lbl"><b>漏洞状态：</b>关闭</span><br/>

                <span class="lbl"><b>设备名称：</b>Mac电脑</span>
                <span class="lbl"><b>危害等级：</b>中级</span>
                <span class="lbl"><b>密码强度：</b>弱</span><br/>

                <p>
                    <b>危害描述：</b>暂无描述
                </p>
                <div>
                    <b>漏洞描述：</b>暂无描述
                  <ul class="method">
                    <li class="j1"><a href="javascript:void(0)"><em></em>解决办法</a></li>
                    <li class="j2"><a href="javascript:void(0)"><em></em>攻击事件</a></li>
                    <li class="j3"><a href="javascript:void(0)"><em></em>历史漏洞</a></li>
                  </ul>
                </div>

                
              </div>
            </div>
    
          </div>
        </div>

        <div class="ls">
            <div class="ions">
              <img src="assets/img/safe/gj2.png" alt="" />
            </div>
            <div class="param">
              <div class="rg-infor">
                <span class="time">扫描时间：5分钟前</span>
              </div>
              <div class="mid-infor">
                <div class="con">
                  <span class="lbl"><b>编号：</b>1101201312</span>
                  <span class="lbl"><b>MAC地址：</b>AB:CD:CA:CA:CA</span>
                  <span class="lbl"><b>漏洞状态：</b>关闭</span><br/>
  
                  <span class="lbl"><b>设备名称：</b>Mac电脑</span>
                  <span class="lbl"><b>危害等级：</b>中级</span>
                  <span class="lbl"><b>密码强度：</b>弱</span><br/>
  
                  <p>
                      <b>危害描述：</b>暂无描述
                  </p>
                  <div>
                      <b>漏洞描述：</b>暂无描述
                    <ul class="method">
                      <li class="j1"><a href="javascript:void(0)"><em></em>解决办法</a></li>
                      <li class="j2"><a href="javascript:void(0)"><em></em>攻击事件</a></li>
                      <li class="j3"><a href="javascript:void(0)"><em></em>历史漏洞</a></li>
                    </ul>
                  </div>
  
                  
                </div>
              </div>
      
            </div>
          </div>

      </div>

</div>
