<div class="header-container">
  <img src="assets/img/logo.png" alt="" />

  <ul class="menus">
    <li [class.sel]="currentUrl=='dashboard'">
      <a href="javascript:void(0)" [routerLink]="['/dashboard']">Dashboard</a>
    </li>
    <li [class.sel]="currentUrl=='equip'">
      <a href="javascript:void(0)" [routerLink]="['/equip']">设备管理</a>
    </li>
    <li [class.sel]="currentUrl=='safe'">
      <a href="javascript:void(0)" [routerLink]="['/safe']">安全防护</a>
    </li>
    <li [class.sel]="currentUrl=='setting'">
      <a href="javascript:void(0)" [routerLink]="['/setting']">系统管理</a>
    </li>
  </ul>
</div>
