<div class="infors">
	<div class="title">已授权设备列表</div>
	<div class="lists">
		<div class="ls">
			<div class="hd">
				<img src="assets/img/equip/video_white.png" alt="" />
				<b class="name">allas is device</b>
				<a href="javascript:void(0)" class="fr white">白名单</a>
				<a href="javascript:void(0)" class="xssy">限时使用</a>
				<a href="javascript:void(0)" class="lssq">临时授权</a>
				<a href="javascript:void(0)" class="black">黑名单</a>
				<span class="time">3个月前</span>
			</div>
			<div class="bd">
				<span class="lt"><b>IP地址：</b>192.168.1.23</span>
				<span class="lt"><b>设备供应商：</b>Apple</span><br/>
				<span class="lt"><b>在线状态：</b><span>离线</span></span>
				<span class="lt"><b>设备类型：</b>摄像头</span><br/>
				<span class="lt"><b>MAC地址：</b><span>AB:CD:AC:AA:CC</span></span>
				<span class="lt"><b>应用流量排名：</b><img class="sj" src="assets/img/equip/sj.png" alt="" /></span><br/>

				<span class="lt"><b>外部端口：</b><span class="p">22</span><span class="p">25</span><span class="p">25</span><img class="ddd" src="assets/img/equip/ddd.png" alt="" /></span>

				<p class="rg-ls">
					<a href="javascript:void(0)"><img src="assets/img/equip/safe.png" alt="" />安全警示</a>
					<a href="javascript:void(0)"><img src="assets/img/equip/ls.png" alt="" />报警列表</a>
				</p>
			</div>
		</div>

		<div class="ls">
			<div class="hd">
				<img src="assets/img/equip/video_white.png" alt="" />
				<b class="name">allas is device</b>
				<a href="javascript:void(0)" class="fr white">白名单</a>
				<a href="javascript:void(0)" class="xssy">限时使用</a>
				<a href="javascript:void(0)" class="lssq">临时授权</a>
				<a href="javascript:void(0)" class="black">黑名单</a>
				<span class="time">3个月前</span>
			</div>
			<div class="bd">
				<span class="lt"><b>IP地址：</b>192.168.1.23</span>
				<span class="lt"><b>设备供应商：</b>Apple</span><br/>
				<span class="lt"><b>在线状态：</b><span>离线</span></span>
				<span class="lt"><b>设备类型：</b>摄像头</span><br/>
				<span class="lt"><b>MAC地址：</b><span>AB:CD:AC:AA:CC</span></span>
				<span class="lt"><b>应用流量排名：</b><img class="sj" src="assets/img/equip/sj.png" alt="" /></span><br/>

				<span class="lt"><b>外部端口：</b><span class="p">22</span><span class="p">25</span><span class="p">25</span><img class="ddd" src="assets/img/equip/ddd.png" alt="" /></span>

				<p class="rg-ls">
					<a href="javascript:void(0)"><img src="assets/img/equip/safe.png" alt="" />安全警示</a>
					<a href="javascript:void(0)"><img src="assets/img/equip/ls.png" alt="" />报警列表</a>
				</p>
			</div>
		</div>
	</div>
</div>
