.infors{
    background: #fff;
    border-radius: 30px;
    padding: 20px;height: 100%;
    .title{
        text-align: center;
        .tl{
            font-size: 16px;color: #666;
            &.sel{
                color: #053663;font-weight: bold;
            }
            cursor:pointer;
        }
    }

    .lists{
        height: calc(100% - 18px);
        overflow:auto;margin:0 -20px;padding: 0 20px;
        border-radius:30px;
        .ls{
            margin:0 -20px;padding:5px 20px 0px 20px;
            &:hover{
                background: #EAF1F6;
            }
            .hd{
                height:35px;line-height: 35px;
                img{vertical-align: middle;}
                .name{color:#053663;font-size:16px;margin-left:12px;vertical-align:middle;}
                .fr{margin-left:30px;}
                a{margin-right:20px;color:#A4BFD8;text-decoration:none;vertical-align:middle;}
                a.white{
                    &.sel,&:hover{
                        color:#6EC534;
                        font-weight: bold;
                    }
                }
                a.xssy{
                    &.sel,&:hover{
                        color:#FC8E34;
                        font-weight: bold;
                    }
                }
                a.lssq{
                    &.sel,&:hover{
                        color:#154CBC;
                        font-weight: bold;
                    }
                }
                a.black{
                    &.sel,&:hover{
                        color:#D01135;
                        font-weight: bold;
                    }
                }
                .time{float:right;color:#AAC3DB;font-size:12px;}
            }
            .bd{
                padding:8px 0;
                border-bottom: solid 1px #C7E2F8;
                .lt{
                    line-height: 25px;
                    min-width: 220px;display:inline-block;
                    .sj{
                        cursor:pointer;
                    }
                    .p{
                        line-height: 17px;background: #D7E5F1;
                        color: #333;margin-right: 7px;padding:0 5px;display: inline-block;
                    }
                    .ddd{
                        cursor: pointer;position: relative;top:4px;
                    }
                }
                .rg-ls{
                    float:right;
                    a{
                        color:#9DBAD5;text-decoration: none;margin-right:20px;
                        img{vertical-align: middle;margin-right: 5px;}
                        &:hover{
                            color:#154CBC;
                        }
                    }
                }
            }
        }
    }
}

.bd-lists{
    height:326px;overflow:auto;position:relative;
    .d-ls{
        padding:5px 10px;border-bottom:solid 1px #ccc;
        .img{
            padding-top:23px;
            float:left;width:80px;text-align:center;
        }
        .cons{
            margin-left:90px;
            .tt{
                font-size:18px;color:#333;font-weight:bold;
                .c-status{display:inline-block;padding:3px 10px;color:#fff;background:#90CC0F;font-size:12px;border-radius:30px;}
                .c-status.red{background:#F59433;}
            }
            .dinfo{
                line-height:25px;font-size:12px;color:#333;margin-top:5px;
                span{margin-right: 20px;}
            }
        }
        &:hover{
            background:rgba(0,0,0,0.1);
        }
    }
}

#modifyEquipName{
    height: 200px;margin-top:-100px;
    .d-buts{
        text-align:right;
    }
}
.inp-txt{
    width:100%;height:33px;border:solid 1px #81B9EA;
    border-radius:10px;padding:0 10px;
}

.d-con{
    margin-top:30px;
    margin-bottom:30px;
}

#modifyRouterName{
    height: 200px;margin-top:-100px;
    .d-buts{
        text-align:right;
    }
}

.btn-confirm{
    background: linear-gradient(180deg, #2C5F8E, #0E3960);
    border-radius:30px;color: #fff;padding:5px 15px;cursor: pointer;
    &:hover{
        background: linear-gradient(0deg, #2C5F8E, #0E3960);
    }
}
.but-cancle{
    background:#ccc;border-radius:30px;color:#666;padding:5px 15px;cursor: pointer;
    &:hover{
        background: #2C5F8E;
        color:#fff;
    }
}

.safe-con{
    height:337px;
}
.d-buts{
    text-align:right;
}

#alerthistory{
    width: 1000px;height: 700px;margin:-350px 0 0 -500px;
    .history-con{
        height: 250px;background:#f00;
    }
    .histables{
        height:230px;overflow:auto;position:relative;
        table th{border:solid 1px #ccc;line-height:30px;}
        table td{border:solid 1px #ddd;line-height:30px;text-align:center;}
    }
    .card-title{
        line-height:33px;background:#D7E5F1;padding:0 0 0 15px;font-size:14px;
    }
    .rg-radio{
        float:right;margin-top:8px;
        .radio-check{float:left;width:80px;}
    }
}