<div class="e3">
	<div class="lf-con">
		<span class="tl">设备总量</span>
		<p class="real-data">
			<b>7</b>
		</p>
	</div>
	<div class="rg-con">
		<ul>
      <li>
        <span class="val">1</span>
        <span class="circle"><img src="assets/img/equip/cellphone.png" alt="" /></span>
        <span class="name">移动终端：</span>
      </li>
      <li>
        <span class="val">1</span>
        <span class="circle"><img src="assets/img/equip/computer.png" alt="" /></span>
        <span class="name">电脑：</span>
      </li>
      <li>
        <span class="val">1</span>
        <span class="circle"><img src="assets/img/equip/video.png" alt="" /></span>
        <span class="name">摄像头：</span>
      </li>
      <li>
        <span class="val">1</span>
        <span class="circle"><img src="assets/img/equip/znsb.png" alt="" /></span>
        <span class="name">智能设备：</span>
      </li>
      <li>
        <span class="val">1</span>
        <span class="circle"><img src="assets/img/equip/other.png" alt="" /></span>
        <span class="name">其他：</span>
      </li>
		</ul>
	</div>
</div>