
#particles-js{
    position:absolute;
    width:100%;height:100%;
    overflow:hidden;
}

.login-container{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    background:#2e3e4e;
    .card{
        padding: 15px;
        .btn-link{
            padding: 0;
            &.forgot{
                font-size: 14px;
            }
        }
       
    }
}

.lg-panel{
    margin-left: 33.33333%;
    width: 33.33%;position:absolute;z-index:9;
    background:#fff;
    .card{
        overflow: hidden;height:100%;
        box-shadow: 1px 1px 5px 0 rgba(0,0,0,.25);
        .card-title{
            text-align: center;
            margin-bottom: .75rem;
            font-weight: 400;
            font-size: 2rem;
        }
        .card-block{
            padding:1.25rem;
        }
    }
}