.eylj-container{
    background: #fff;
    margin-top: 50px;
    border-radius: 30px;
    padding: 20px;

    .mod{
        .iosCheck{
            float: right;
            margin: 7px 10px 0 0;
            vertical-align: middle;
        }
        p{
            font-size: 14px;
            line-height: 20px;
        }
        border-bottom: solid 1px #C7E2F8;
        padding: 20px 0;
    }

}