<div class="eylj-container">
  <img src="assets/img/safe/sj.png" class="pos" alt="" />
  <div class="mod">
      <label class="iosCheck blue"><input type="checkbox" checked="checked"><i></i></label>
      <p>
        <b>网址阻止</b><br/>
        手动设置特定网址存在病毒/木马风险
      </p>
  </div>

  <div class="mod">
      <label class="iosCheck blue"><input type="checkbox" checked="checked"><i></i></label>
      <p>
        <b>上网防劫持</b><br/>
        防止路由器的域名解析劫持到钓鱼网站，木马网站
      </p>
  </div>

  <div class="mod">
      <label class="iosCheck blue"><input type="checkbox" checked="checked"><i></i></label>
      <p>
        <b>恶意网址防火墙</b><br/>
        自动检测各终端的网站是否存在病毒/木马风险
      </p>
  </div>

</div>
