<div class="real-container chart-box line">
  <div class="hd">
    <span class="tl">实时网络状态</span>
    <div class="lengs">
      <span class="lg"><b>实时下行流量：</b><span class="xx">3.25K/s</span></span>
      <span class="line"></span>
      <span class="lg"><b>实时上行流量：</b><span class="sx">3.25K/s</span></span>
    </div>
  </div>
  <div class="bd">
    <div class="chart-canvas">
    </div>
  </div>
</div>
<div class="bottom-infor">
  <span class="lg"><b>实时下行流量：</b><span class="xx">3.25K/s</span></span>
  <span class="line"></span>
  <span class="lg"><b>实时上行流量：</b><span class="sx">3.25K/s</span></span>
</div>
