.user-container{
    background: #fff;border-radius:30px;padding:40px;;
    margin-top:60px;position:relative;
    height: calc(100% - 300px);
    .pos{
        position:absolute;
        top:-18px;left:50%;
        margin-left:-10px;
    }
    .hd{
        text-align: right;
        .btn-add{
            padding: 10px 15px;border-radius:25px;line-height:25px;
            background: #133F68;color:#fff;font-size:14px;
            text-decoration:none;
            img{vertical-align:middle;}
        }
        .more{
            color:#133F68;font-size:14px;text-decoration:none;margin-left:30px;
        }
    }
    .bd{
        margin:0 -40px;
        padding-top: 20px;
        height: calc(100% - 18px);
        td{
            &:first-child{
                padding-left:20px;
            }
            border-bottom:solid 1px #C7E2F8;height:78px;
            .circle{
                width:16px;height:16px;border-radius:16px;
                border:solid 1px #133F68;display:inline-block;
            }
        }
        tr:hover{
            td{
                background: #EAF1F6;
            }
        }
    }
}