<div class="real-container chart-box">
  <div class="hd">
    <span class="tl">终端流量统计</span>
    <div class="lengs">
      <span class="lg"><b>当前终端：</b><span class="sx">5</span></span>
    </div>
  </div>
  <div class="bd">
    <div class="chart-canvas">
    </div>
    <div class="chart-infor">
      <div class="lin c1">
        <span class="dot"></span>
        <span class="name">iPad</span>
        <span class="rate">56.5%</span>
        <span class="val">2.23GB</span>
      </div>
      <div class="lin c2">
        <span class="dot"></span>
        <span class="name">iPad</span>
        <span class="rate">56.5%</span>
        <span class="val">2.23GB</span>
      </div>
      <div class="lin c3">
        <span class="dot"></span>
        <span class="name">iPad</span>
        <span class="rate">56.5%</span>
        <span class="val">2.23GB</span>
      </div>
      <div class="lin c4">
        <span class="dot"></span>
        <span class="name">iPad</span>
        <span class="rate">56.5%</span>
        <span class="val">2.23GB</span>
      </div>
      <div class="lin c5">
        <span class="dot"></span>
        <span class="name">iPad</span>
        <span class="rate">56.5%</span>
        <span class="val">2.23GB</span>
      </div>
    </div>
  </div>
</div>
<div class="bottom-infor">
  <span class="lg"><b>总下载量：</b><span class="xx">30.25GB</span></span>
  <span class="line"></span>
  <span class="lg"><b>总上传量：</b><span class="sx">1.2GB</span></span>
  <span class="line"></span>
  <span class="lg"><b>累计终端：</b><span class="sx">1.2GB</span></span>
</div>
