.e2{
    height: 100%;
    margin-left: 10px;
    margin-top: 10px;
    position: relative;
    border-radius: 20px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.3);

   .tl{
        font-size: 16px;color: #fff;
        text-shadow: 4px 4px 1px #333;
    }

    .chart-container{
        background: #f00;margin-top: 10px;
        height: calc(100% - 38px);
    }

}