<div class="infor-container">
  <p class="onffline on">
    <img src="assets/img/dashboard/Wifi_on.png" alt="" />
    离线
  </p>

  <h3 class="title">网关信息</h3>

  <div class="infor-content">
    <span class="name">f4:8c:50:0b:05:15</span><br/>

    <table class="base-infor">
      <tr>
        <td>网关公网IP：</td>
        <td>124.127.209.55</td>
        <td class="pl-30">设备数量：</td>
        <td>2</td>
      </tr>
      <tr>
        <td>网关内网IP：</td>
        <td>124.127.209.55</td>
        <td class="pl-30">报警数量：</td>
        <td>2</td>
      </tr>
      <tr>
        <td>应用流量排名TOP10：</td>
        <td colspan="3" class="relpos">
          <img class="cur-pointer" src="assets/img/dashboard/sj.png" alt="" />
          <div class="dropdownlist" style="display:none;">
            <a>192.168.1.123</a>
            <a>192.168.1.123</a>
            <a>192.168.1.123</a>
            <a>192.168.1.123</a>
            <a>192.168.1.123</a>
          </div>
        </td>
      </tr>
      <tr>
        <td>设备流量排名TOP10：</td>
        <td colspan="3" class="relpos">
          <img class="cur-pointer" src="assets/img/dashboard/sj.png" alt="" />
          <div class="dropdownlist" style="display:none;">
            <a>192.168.1.123</a>
            <a>192.168.1.123</a>
            <a>192.168.1.123</a>
            <a>192.168.1.123</a>
            <a>192.168.1.123</a>
          </div>
        </td>
      </tr>
      <tr>
        <td>外部端口：</td>
        <td colspan="3" class="relpos">
          <img class="cur-pointer" src="assets/img/dashboard/dot.png" alt="" />
          <div class="dropdownlist" style="display:none;">
            <a>192.168.1.123</a>
            <a>192.168.1.123</a>
            <a>192.168.1.123</a>
            <a>192.168.1.123</a>
            <a>192.168.1.123</a>
          </div>
        </td>
      </tr>
    </table>

    <table class="offinfor">
      <tr>
        <td>
          <img src="assets/img/dashboard/sk.png" alt="" />
          离线时刻：
        </td>
        <td colspan="3">
          
        </td>
      </tr>
      <tr>
        <td>
          <img src="assets/img/dashboard/sc.png" alt="" />
          离线时长：
        </td>
        <td colspan="3">
          2小时20分钟
        </td>
      </tr>
      <tr>
        <td>
          <img src="assets/img/dashboard/sk.png" alt="" />
          在线时刻：
        </td>
        <td colspan="3">
          
        </td>
      </tr>
      <tr>
        <td>
          <img src="assets/img/dashboard/sc.png" alt="" />
          在线时长：
        </td>
        <td colspan="3">
          2小时20分钟
        </td>
      </tr>
    </table>

    <br class="clear-fixed"/>
    <ul class="list-menu">
      <li><a href="javascirpt:void(0)"><span class="icons i1"></span>所有设备</a></li>
      <li><a href="javascirpt:void(0)"><span class="icons i2"></span>白名单设备</a></li>
      <li><a href="javascirpt:void(0)"><span class="icons i3"></span>带授权设备</a></li>
      <li><a href="javascirpt:void(0)"><span class="icons i4"></span>黑名单设备</a></li>
      <li><a href="javascirpt:void(0)"><span class="icons i5"></span>安全警示</a></li>
    </ul>
  </div>

</div>
