.infor-container{
    border-radius: 30px;
    height: 270px;
    background: rgba(255, 255, 255, 0.2);
    position: relative;
    padding: 20px;

    .onffline{
        position: absolute;
        right: 0;top: 0;
        background: #0B406C;
        border-radius: 0 30px 0 20px;
        width: 92px;height: 48px;
        text-align: center;
        img{
            margin-top: 10px;
        }
        color:#99B6D0;
        font-size: 14px;
        &.on{
            color:#90CC0F;
        }
    }

    .title{
        color: #fff;font-size: 15px;font-weight: bold;
        text-shadow: 3px 3px 2px #333;
    }

    .infor-content{
        margin-top: 20px;
        .name{
            font-size: 20px;color: #F5DB38;font-weight: bold;
            .pen{display:none;}
            &:hover .pen{
                display:inline-block;
            }
        }
        .base-infor{
            margin-top: 20px;
            float: left;
            tr{
                td{
                    line-height: 25px;color: #fff;font-size: 14px;
                    white-space:nowrap;
                }
            }
        }
        .offinfor{
            float: right;
            margin-right: 90px;
            tr{
                td{
                    line-height: 25px;color: #fff;font-size: 14px;
                    white-space:nowrap;
                }
            }
        }
        .list-menu{
            clear: both;
            margin-top: 5px;
            overflow: hidden;
            li{
                float: left;
                margin-right: 40px;
                a{
                    font-size: 14px;color: #AAC7E0;
                    text-decoration: none;
                }
                &:hover{
                    a{
                        color: #fff;
                    }
                }
            }
        }
    }

}

.clear-fixed{
    clear: both;
}

.icons{
    background: url(/assets/img/dashboard/icons.png) no-repeat 0 0;
    width: 7px;height: 7px;display: inline-block;margin-right: 5px;
    &.i1{
        background-position: -8px -10px;
    }
    &.i2{
        width: 12px;height: 10px;
        background-position: -95px -9px;
    }
    &.i3{
        width: 9px;height: 9px;
        background-position: -190px -10px;
    }
    &.i4{
        width: 9px;height: 9px;
        background-position: -284px -9px;
    }
    &.i5{
        width: 10px;height: 11px;
        background-position: -383px -8px;
    }
}

.inp-txt{
    width:100%;height:33px;border:solid 1px #81B9EA;
    border-radius:10px;padding:0 10px;
}

.d-con{
    margin-top:30px;
    margin-bottom:30px;
}

#modifyRouterName{
    height: 200px;margin-top:-100px;
    .d-buts{
        text-align:right;
    }
}

.btn-confirm{
    background: linear-gradient(180deg, #2C5F8E, #0E3960);
    border-radius:30px;color: #fff;padding:5px 15px;cursor: pointer;
    &:hover{
        background: linear-gradient(0deg, #2C5F8E, #0E3960);
    }
}
.but-cancle{
    background:#ccc;border-radius:30px;color:#666;padding:5px 15px;cursor: pointer;
    &:hover{
        background: #2C5F8E;
        color:#fff;
    }
}