<div class="infor-container">
  <p class="onffline" [class.on]="RouterStatus.online==1">
    <img *ngIf="RouterStatus.online==1" src="assets/img/dashboard/Wifi_on.png" alt="" />
    <img *ngIf="RouterStatus.online==0" src="assets/img/dashboard/Wifi.png" alt="" />
    {{RouterStatus.online==1 ? '在线' : '离线'}}
  </p>

  <h3 class="title">网关信息</h3>

  <div class="infor-content">
    <span class="name cur-pointer" (click)="showDialog()">
        <img class="pen" src="assets/img/dashboard/pen.png" width="15px" alt="" />
        {{routerInfor.alias}}[{{routerInfor.mac}}]
    </span><br/>

    <table class="base-infor">
      <tr>
        <td>网关公网IP：</td>
        <td>{{routerInfor.wip}}</td>
        <td class="pl-30">设备数量：</td>
        <td>{{routerInfor.devcount}}</td>
      </tr>
      <tr>
        <td>网关内网IP：</td>
        <td>{{routerInfor.nip}}</td>
        <td class="pl-30">报警数量：</td>
        <td>{{routerInfor.alertcount}}</td>
      </tr>
      <tr>
        <td>应用流量排名TOP10：</td>
        <td colspan="3" class="relpos">
          <img (click)="getLLList(routerInfor.mac);yydv.style.display='block';$event.stopPropagation();" class="cur-pointer" src="assets/img/dashboard/sj.png" alt="" />
          <div #yydv class="dropdownlist dvls-panel" style="display:none;">
            <a *ngFor="let ll of routerInfor.yytop10">{{ll.key}}({{ll.value}}GB)</a>
          </div>
        </td>
      </tr>
      <tr>
        <td>设备流量排名TOP10：</td>
        <td colspan="3" class="relpos">
          <img (click)="getLLList(routerInfor.mac);sbdv.style.display='block';$event.stopPropagation();" class="cur-pointer" src="assets/img/dashboard/sj.png" alt="" />
          <div #sbdv class="dropdownlist dvls-panel" style="display:none;">
            <a *ngFor="let ll of routerInfor.sbtop10">{{ll.key}}({{ll.value}}GB)</a>
          </div>
        </td>
      </tr>
      <tr>
        <td>外部端口：</td>
        <td colspan="3" class="relpos">
          <span *ngIf="routerInfor.ports.length == 0">无</span>
          <img *ngIf="routerInfor.ports.length > 0" (click)="portdv.style.display='block';$event.stopPropagation();" class="cur-pointer" src="assets/img/dashboard/dot.png" alt="" />
          <div #portdv class="dropdownlist" style="display:none;">
            <a *ngFor="let p of routerInfor.ports">{{p}}</a>
          </div>
        </td>
      </tr>
    </table>

    <table class="offinfor">
      <tr>
        <td>
          <img src="assets/img/dashboard/sk.png" alt="" />
          离线时刻：
        </td>
        <td colspan="3">
          <div *ngIf="RouterStatus.online==0">{{RouterStatus.offTime | date: 'y年M月d日 H时m分s秒'}}</div>
          <div *ngIf="RouterStatus.online==1">--</div>
        </td>
      </tr>
      <tr>
        <td>
          <img src="assets/img/dashboard/sc.png" alt="" />
          离线时长：
        </td>
        <td colspan="3">
          <div *ngIf="RouterStatus.online==0">{{RouterStatus.offlineSpan}}小时{{RouterStatus.offlineMinute}}分钟</div>
          <div *ngIf="RouterStatus.online==1">--</div>
        </td>
      </tr>
      <tr>
        <td>
          <img src="assets/img/dashboard/sk.png" alt="" />
          在线时刻：
        </td>
        <td colspan="3">
          <div *ngIf="RouterStatus.online==1">{{RouterStatus.offTime | date: 'y年M月d日 H时m分s秒'}}</div>
          <div *ngIf="RouterStatus.online==0">--</div>
        </td>
      </tr>
      <tr>
        <td>
          <img src="assets/img/dashboard/sc.png" alt="" />
          在线时长：
        </td>
        <td colspan="3">
          <div *ngIf="RouterStatus.online==1">{{RouterStatus.offlineSpan}}小时{{RouterStatus.offlineMinute}}分钟</div>
          <div *ngIf="RouterStatus.online==0">--</div>
        </td>
      </tr>
    </table>

    <br class="clear-fixed"/>
    <ul class="list-menu" style="display:none;">
      <li><a href="javascirpt:void(0)"><span class="icons i1"></span>所有设备</a></li>
      <li><a href="javascirpt:void(0)"><span class="icons i2"></span>白名单设备</a></li>
      <li><a href="javascirpt:void(0)"><span class="icons i3"></span>带授权设备</a></li>
      <li><a href="javascirpt:void(0)"><span class="icons i4"></span>黑名单设备</a></li>
      <li><a href="javascirpt:void(0)"><span class="icons i5"></span>安全警示</a></li>
    </ul>
  </div>

</div>

<div class="dialog animated" id="modifyRouterName" [class.flipInX]="isShowDialog" [class.flipOutX]="!isShowDialog">
  <div class="hd">
    <span class="title">修改路由别名</span>
    <img class="close" (click)="hideDialog()" src="assets/img/close.png" alt="" />
  </div>
  <div class="bd">
    <div class="d-con">
      <input #inp class="inp-txt animated" [class.shake]="inputerr" type="text" [value]="routerInfor.alias" />
    </div>
    <div class="d-buts">
      <input type="button" class="but but-cancle" (click)="hideDialog()" value="取消" />
      <input type="button" class="but btn-confirm" (click)="confirmEquipName(inp.value)" value="确定" />
    </div>
  </div>
</div>
