.serv-container{
    background: #fff;border-radius:30px;padding:20px;
    margin-top:60px;height:calc(100% - 290px);
    position:relative;
    .scroll-container{
        height: calc(100% - 180px);
        overflow: auto;
    }
    .pos{
        position:absolute;
        top:-18px;left:16.66%;
        margin-left:-10px;
    }

    .lf{
        float:left;border-right:solid 1px #07345E;width:50%;padding: 20px;overflow:hidden;height:100%;
        table{
            margin-top:30px;
            td{
                color:#07345E;font-size:14px;height: 60px;
            }
        }
    }
    .rg{margin-left:50%;padding: 20px;overflow:hidden;height:100%;
        .tl{text-align: center;font-size:16px;color:#07345E;}
    }

    .but-avatar{
        border-radius:4px;padding:10px 30px;border:none;
        background:#07345E;color:#fff;font-size:14px;
        float:right;cursor:pointer;
    }
    .avatar{
        border:solid 2px #07345E;
    }
    .inp-txt{
        width:100%;height:33px;border:solid 1px #81B9EA;
        border-radius:10px;padding:0 10px;
    }

    .btn-confirm{
        background: linear-gradient(180deg, #2C5F8E, #0E3960);
        border-radius:30px;color: #fff;padding:10px 20px;
        &:hover{
            background: linear-gradient(0deg, #2C5F8E, #0E3960);
        }
    }
}