<div class="serv-container">
  	<img src="assets/img/safe/sj.png" class="pos" alt="" />
	<div class="lf">
		<input type="button" class="but but-avatar" value="上传头像图片" />
		<img class="avatar" src="assets/img/users/user5.jpg" alt="" />
		<img class="avatar" width="120px" src="assets/img/users/user5.jpg" alt="" />
		<img class="avatar" width="60px" src="assets/img/users/user5.jpg" alt="" />
		<div class="scroll-container relpos" id="servScroll">
			<table width="100%">
				<tr>
					<td>账号/邮箱：</td>
					<td class="pr-20">
						<input class="inp-txt" type="text" value="" />
					</td>
				</tr>
				<tr>
					<td>姓名：</td>
					<td class="pr-20">
						<input class="inp-txt" type="text" value="" />
					</td>
				</tr>
				<tr>
					<td>生日：</td>
					<td class="pr-20">
						<input class="inp-txt" type="text" value="" />
					</td>
				</tr>
				<tr>
					<td>手机号码：</td>
					<td class="pr-20">
						<input class="inp-txt" type="text" value="" />
					</td>
				</tr>
				<tr>
					<td>身份证号码：</td>
					<td class="pr-20">
						<input class="inp-txt" type="text" value="" />
					</td>
				</tr>
				<tr>
					<td>微信号：</td>
					<td class="pr-20">
						<input class="inp-txt" type="text" value="" />
					</td>
				</tr>
				<tr>
					<td>旧密码：</td>
					<td class="pr-20">
						<input class="inp-txt" type="text" value="" />
					</td>
				</tr>
				<tr>
					<td>登录密码：</td>
					<td class="pr-20">
						<input class="inp-txt" type="text" value="" />
					</td>
				</tr>
				<tr>
					<td>确认密码：</td>
					<td class="pr-20">
						<input class="inp-txt" type="text" value="" />
					</td>
				</tr>
				<tr>
					<td></td>
					<td class="pr-20">
						<input type="button" class="btn btn-confirm" value="保存" />
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="rg">
		<div class="tl">网关设置</div>
	</div>
</div>