<div class="router-container">
  <img src="assets/img/safe/sj.png" class="pos" alt="" />
	<div class="filters">
		<a href="javascript:void(0)">类型过滤一</a>
		<a href="javascript:void(0)">类型过滤二</a>
		<a href="javascript:void(0)">类型过滤三</a>
	</div>

	<div class="lists relpos" id="routerScroll">
		<div class="ls" *ngFor="let rr of data">
			<div class="hd">
				<img src="assets/img/setting/wifi_online.png" alt="" />
				<b class="name" (click)="showDialog(rr)">{{rr.alias}}[{{rr.mac}}]</b>
				
				<a class="offline on" href="javascript:void(0)">在线</a>

				<ul class="rglist">
					<li><img src="assets/img/setting/all.png" alt="" />所有设备</li>
					<li><img src="assets/img/setting/white.png" alt="" />白名单设备</li>
					<li><img src="assets/img/setting/safe.png" alt="" />安全警示</li>
				</ul>
			</div>
			<div class="rg-ls">
				<table class="offinfor">
					<tr>
						<td>
						<img src="assets/img/dashboard/sk.png" alt="" />
						离线时刻：
						</td>
						<td colspan="3">
							--
						</td>
					</tr>
					<tr>
						<td>
						<img src="assets/img/dashboard/sc.png" alt="" />
						离线时长：
						</td>
						<td colspan="3">
							--
						</td>
					</tr>
					<tr>
						<td>
						<img src="assets/img/dashboard/sk.png" alt="" />
						在线时刻：
						</td>
						<td colspan="3">
							--
						</td>
					</tr>
					<tr>
						<td>
						<img src="assets/img/dashboard/sc.png" alt="" />
						在线时长：
						</td>
						<td colspan="3">
							--
						</td>
					</tr>
				</table>
			</div>
			<div class="bd">
				<span class="lt"><b>网关公网IP：</b>{{rr.wip}}</span>
				<span class="lt"><b>设备数量：</b>{{rr.devcount}}</span><br/>
				<span class="lt"><b>网关内网IP：</b><span>{{rr.nip}}</span></span>
				<span class="lt relpos"><b>应用流量排名：</b><img (click)="getLLList(rr.mac, rr);$event.stopPropagation();dvll.style.display='block';" class="sj" src="assets/img/equip/sj.png" alt="" />
					<span #dvll class="dropdownlist dvls-panel" style="left:82px;top:25px;display:none;">
						<a *ngFor="let ll of rr.yytop10">{{ll.key}}({{ll.value}}GB)</a>
					</span>
				</span><br/>
				<span class="lt"><b>报警数量：</b><span>{{rr.alertcount}}</span></span>
				<span class="lt relpos"><b>应用流量排名：</b><img (click)="getLLList(rr.mac, rr);$event.stopPropagation();dvap.style.display='block';" class="sj" src="assets/img/equip/sj.png" alt="" />
					<span #dvap class="dropdownlist dvls-panel" style="left:82px;top:25px;display:none;">
						<a *ngFor="let ll of rr.sbtop10">{{ll.key}}({{ll.value}}GB)</a>
					</span>
				</span><br/>

				<span class="lt relpos"><b>外部端口：</b>
					<span class="p" *ngFor="let p of rr.ports">{{p}}</span>
					<span *ngIf="rr.ports.length == 0">无</span>
					<img *ngIf="rr.ports.length > 0" class="ddd" src="assets/img/equip/ddd.png" alt="" />
					<span class="dropdownlist" style="left:58px;top:25px;display:none;">
						
					</span>
				</span>

			</div>

		</div>

	</div>
</div>

<div class="dialog animated" id="modifyAllRouterName" [class.flipInX]="isShowDialog" [class.flipOutX]="!isShowDialog">
	<div class="hd">
		<span class="title">修改路由别名</span>
		<img class="close" (click)="hideDialog()" src="assets/img/close.png" alt="" />
	</div>
	<div class="bd">
		<div class="d-con">
		<input #inp class="inp-txt" type="text" [value]="currentRouter.alias" />
		</div>
		<div class="d-buts">
		<input type="button" class="but but-cancle" (click)="hideDialog()" value="取消" />
		<input type="button" class="but btn-confirm" (click)="confirmEquipName(inp.value)" value="确定" />
		</div>
	</div>
</div>